.about {
    padding: 80px 0 100px;
    background-color: #ffffff;

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        margin-right: 120px;
    }
    &__inner {
        max-width: 430px;
        min-height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    &__text {
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
    }
}

@media (max-width: 768px) {
    .about {
        &__wrapper {
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }

        &__inner {
            margin-bottom: 80px;
        }

        &__image {
            margin-right: 0;
        }
    }
}

@media (max-width: 320px) {
    .about {
        padding: 42px 0;
        text-align: center;

        &__inner {
            padding: 0 15px;
            margin-bottom: 42px;
        }
        &__title {
            font-size: 25px;
        }
        &__text {
            margin-top: 22px;
            text-align: justify;
        }
        &__image {
            max-width: 260px;
            height: auto;
        }
    }
}