html {
    scroll-behavior: smooth;
}

body {
    background-color: #E5E5E5;
}

h1, h2, h3, h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
}

a, p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
}