.footer {
    padding: 40px 0 0 0;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__contacts,
    &__locations {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    &__item &__text:hover {
        color: #FDDCC4;
    }
    &__icon {
        margin-right: 20px;
    }
    &__text {
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        transition: color 0.2s ease;
    }
    // &__image {}
}

@media (max-width: 768px) {
    .footer {
        padding: 30px 0 0 0;

        &__wrapper {
            flex-wrap: wrap;
            padding: 0 64px;
        }
        &__contacts,
        &__locations {
            margin: 0 0 65px;
            max-width: 47%;
        }
        &__item {
            margin-top: 32px;
        }
        &__image {
            margin: 0 auto;
        }
    }
}

@media (max-width: 320px) {
    .footer {
        text-align: center;

        &__wrapper {
            padding: 0 10px;
        }
        &__contacts,
        &__locations {
            align-items: center;
            margin: 0 0 40px;
            max-width: 100%;
        }
        &__locations {
            padding: 0 15px;

            & .footer__item {
                margin: 40px -15px 0;
                align-self: flex-start;
                text-align: start;
            }
        }
        &__item {
            margin-top: 40px;
        }
        &__title {
            font-size: 25px;
        }
        &__image {
            max-width: 260px;
            height: auto;
        }
    }
}