.header {
    position: absolute;
    top: 30px;
    left: 40px;

    &__wrapper {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // &__logo {}
    &__title {
        font-family: 'Georgia';
        font-size: 32px;
        // line-height: 110%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    &__subtitle {
        margin-top: 10px;
        font-family: 'Arial';
        font-size: 13px;
        // line-height: 15px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    &__menu {
        width: 450px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        font-family: 'Arial';
        font-size: 15px;
        color: #CDCDCD;
    }
}
