.header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &__wrapper {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
}

.header_lite {
    position: static;
    height: 120px;
    padding: 30px 0;
    background: #ffffff;
    transform: translateX(0);

    & .header__title {
        color: #545454;
    }
    & .header__subtitle {
        color: #292929;
    }
}

@media (max-width: 320px) {
    .header {
        &__wrapper {
            padding: 0 20px;
        }
    }
}