.header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &__wrapper {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    &__menu {
        width: 443px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        padding: 5px 0;
        font-size: 15px;
        color: #CDCDCD;
        transition: color 0.2s ease;

        &:hover {
            color: #FAFAFA;
        }
    }

    & .link-active_lite {
        color: #FAFAFA;
        border-bottom: #F1CDB3 3px solid;
    }
}

.header_lite {
    position: static;
    height: 120px;
    padding: 30px 40px;
    background: #ffffff;
    transform: translateX(0);

    & .header__title {
        color: #545454;
    }
    & .header__subtitle {
        color: #292929;
    }
    & .header__link {
        color: #545454;

        &:hover {
            color: #292929;
        }
    }
    & .link-active_dark {
        color: #292929;
        border-bottom: #F1CDB3 3px solid;
    }
}



@media (max-width: 768px) {
    .header_lite {
        padding: 30px 0;
    }
}