.intro {
    padding: 180px 0 0 0;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner {
        width: 460px;
        min-height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    &__title {
        font-size: 44px;
        line-height: 130%;
        color: #FFFFFF;
    }
    &__text {
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
    }
    &__button {
        width: 207px;
        height: 52px;
        text-align: center;
        border-radius: 100px;

        font-size: 17px;
        line-height: 52px;
        letter-spacing: 0.06em;
        color: #292929;
    }
    // &__image {}
}