.pets {
    padding: 80px 0 100px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;

    }
    &__slider {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 60px 0;
        padding: 0 15px;
    }
    &__slider > button:first-child {
        position: absolute;
        left: 0;
    }
    &__slider > button:last-child {
        position: absolute;
        right: 0;
    }
    &__slider-item {
        height: 435px;
        border-radius: 9px;
        background: #FAFAFA;
        cursor: pointer;
        transition: box-shadow 0.2s ease;
    }
    &__slider-item:hover {
        box-shadow: 2px 2px 10px 0px #fedcc4;
    }
    // &__slider-image {}
    &__slider-text {
        margin: 30px 0;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
    }
    &__slider-button {
        width: 187px;
        height: 52px;
    }
    &__button {
        width: 261px;
        height: 52px;
        text-align: center;
        border-radius: 100px;

        font-size: 17px;
        line-height: 52px;
        letter-spacing: 0.06em;
        color: #292929;
    }
}

@media (max-width: 768px) {
    .pets {
        &__slider {
            padding: 0 24px;
        }
        &__slider-item:last-of-type {
            display: none;
        }
    }
}

@media (max-width: 320px) {
    .pets {
        padding: 42px 0;

        &__title {
            font-size: 25px;
        }
        &__slider {
            margin: 42px 0 114px;
        }
        &__slider-item:nth-last-of-type(-n+2) {
            display: none;
        }
        &__slider > button:first-child {
            left: 58px;
            bottom: -72px;
        }
        &__slider > button:last-child {
            right: 58px;
            bottom: -72px;
        }
    }
}